---
---
<section>
  <div class="container">
    <div class="checklist-cta">
      <div>
        <h2>Free Tulsa Termite Warning Signs Checklist</h2>
        <p>A printable, plain-English list of the 10 most common warning signs Tulsa homeowners should know. Walk through your home in 15 minutes.</p>
      </div>
      <div>
        <a href="/termite-warning-signs-checklist" class="btn btn-primary" data-event="cta_click" data-lead-type="checklist_download">Get the Checklist</a>
      </div>
    </div>
  </div>
</section>
